
	body{
		margin: auto;
		margin-bottom: 60px;
		font-weight: 400 !important;
		font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 15px;
		line-height: 1.4;
		color: #222;
		background-color: #fff;
		margin: 0;
		margin-bottom: 0px;
		text-align: center;
	}
.wrapper {
	width: 960px;
	max-width: 93.75%;
	margin: auto;
	color: white;
	padding-left: 15px;padding-right: 15px;
	align-items: center;
	display:inline-flex;
}
button{
	box-sizing: border-box;
	display: inline-block;
	float: none;
	padding: 10px;
	position: static;
	z-index: auto;
	border-bottom-color: rgb(255, 255, 255);
	border-radius: 9px;
	border-style: solid;
	border-width: 1.66667px;
	border-image-outset: 0;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	cursor: pointer;
	color: white;
}
img {
	padding: 10px;
	margin: 10px;
  }
.blue{
	background-color: rgb(30, 147,204);
	padding-top: 30px;
	padding-bottom: 50px;
	border-bottom: 0.833px;
}
.banner{
	background-color: rgb(30, 147,204);
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 0.833px;

	color: white;
}
.mid{
	position: relative;


}
.orange{
	background-color: rgb(233, 144,2);
}
.darkblue{
	background-color: rgb(22, 88,130);
}
.row{
	margin: 20px -15px 10px -15px;
	padding: 0px 15px;
}
.brands{
	width: 100%;
	background-color: rgb(206, 202, 202);
	justify-content: space-between;
	padding: 30px 0px;
	display: inline-flex;
}
nav{
	width: 960px;
	display:inline-flex;
}
ul{
	list-style-type: none;
	margin:0px;
	padding: 0px;
}
li{
	display:inline-flex;
	padding: 10px;
}
li a {
	color: white;
	text-align: center;
	text-decoration: none;
  }
.right{
	text-align: right;
}
header{
	color: white;
	background-color: black;
}
.punchline{
	text-align: center;
}
.logo{

}